In [2]:
import pandas as pd

In [3]:
villa = pd.read_csv('/Users/AndreasRosing/Documents/DataScience/Python/scrape_boliga/hoersholm_rungsted_2018-20200721.csv',
                    header=0, parse_dates=True)

Get only Mellemvang houses in Hoersholm

In [4]:
villa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1138 non-null   int64
 1   estateId            1138 non-null   int64
 2   street              1138 non-null   object
 3   street_num          1138 non-null   object
 4   floor               201 non-null    object
 5   postnr              1138 non-null   int64
 6   settlement          1138 non-null   object
 7   lat                 1138 non-null   float64
 8   long                1138 non-null   float64
 9   property_type       1138 non-null   object
 10  sales_type          1138 non-null   object
 11  sqm                 1138 non-null   int64
 12  sqm_price           1138 non-null   float64
 13  year_built          1138 non-null   int64
 14  sales_date          1138 non-null   object
 15  lot_size            0 non-null      float64
 16  energy_class        0 non-null      float64
 17  ownership_expenses  0 non-null      float64
 18  basement_size       0 non-null      float64
 19  days_on_market      0 non-null      float64
 20  price_change        1138 non-null   float64
 21  price               1138 non-null   int64
dtypes: float64(9), int64(6), object(7)
memory usage: 195.7+ KB

In [6]:
mlv = villa[villa.street == "Mellemvang"]

In [7]:
mlv.shape

(5, 22)

In [8]:
mlv

,Unnamed: 0,estateId,street,street_num,floor,postnr,settlement,lat,long,property_type,...,sqm_price,year_built,sales_date,lot_size,energy_class,ownership_expenses,basement_size,days_on_market,price_change,price
116,116,0,Mellemvang,14B,NaN,2970,Hørsholm,55.879060,12.510359,Raekkehus,...,15838.5100,1930,2020-03-02T23:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.000000,2550000
231,231,0,Mellemvang,3A,NaN,2970,Hørsholm,55.878773,12.506738,Raekkehus,...,2272.7273,1988,2019-11-30T23:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.000000,375000
232,232,0,Mellemvang,3B,NaN,2970,Hørsholm,55.878773,12.506938,Raekkehus,...,2245.5090,1988,2019-11-30T23:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.000000,375000
534,534,0,Mellemvang,16,NaN,2970,Hørsholm,55.879173,12.510823,Villa,...,37837.8360,1925,2019-05-05T22:00:00.000Z,NaN,NaN,NaN,NaN,NaN,0.000000,7000000
876,876,1430253,Mellemvang,13,NaN,2970,Hørsholm,55.879192,12.509351,Villa,...,28669.7250,1954,2018-08-13T22:00:00.000Z,NaN,NaN,NaN,NaN,NaN,-3.772132,6250000

In [9]:
villa.describe()

,Unnamed: 0,estateId,postnr,lat,long,sqm,sqm_price,year_built,lot_size,energy_class,ownership_expenses,basement_size,days_on_market,price_change,price
count,1138.000000,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,0.0,0.0,0.0,0.0,0.0,1138.000000,1.138000e+03
mean,568.500000,1.139059e+06,2967.407733,55.886184,12.506525,144.716169,30803.874183,1943.965729,NaN,NaN,NaN,NaN,NaN,-3.274866,4.527758e+06
std,328.656609,6.474447e+05,4.384029,0.011392,0.018810,60.215235,19602.131577,203.784613,NaN,NaN,NaN,NaN,NaN,6.846744,3.445827e+06
min,0.000000,0.000000e+00,2960.000000,55.846146,12.412047,14.000000,33.571430,0.000000,NaN,NaN,NaN,NaN,NaN,-93.841415,1.410000e+04
25%,284.250000,1.316949e+06,2960.000000,55.879961,12.494779,107.000000,24348.271250,1956.000000,NaN,NaN,NaN,NaN,NaN,-4.444445,2.733750e+06
50%,568.500000,1.462256e+06,2970.000000,55.886240,12.503966,135.000000,29067.404500,1969.000000,NaN,NaN,NaN,NaN,NaN,-2.241806,3.817500e+06
75%,852.750000,1.550973e+06,2970.000000,55.893258,12.519859,172.000000,34500.774000,1986.000000,NaN,NaN,NaN,NaN,NaN,0.000000,5.300000e+06
max,1137.000000,1.667729e+06,2970.000000,55.912160,12.552456,662.000000,524553.560000,2020.000000,NaN,NaN,NaN,NaN,NaN,10.256411,5.875000e+07

In [10]:
villa.lot_size.isna()

0       True
1       True
2       True
3       True
4       True
        ...
1133    True
1134    True
1135    True
1136    True
1137    True
Name: lot_size, Length: 1138, dtype: bool

In [11]:
sum(villa.lot_size.isna())

1138